title {
  text-align: center;
  color: black;
  font-family: helvetica;
  font-size: 3em;
}

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}

h1 {
  text-align: center;
  color: purple;
  font-size: 2.4em;
}

h2 {
  text-align: center;
  color: purple;
  font-size: 2.4em;
}

p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
work li ul {
  text-align: left;
  font-size: 1.1em;
}
