.header {
    font-family: 'Open Sans', serif;
    text-align: center;
    background-color: #15202b;
    display: flex;
}

body {
    font-family: 'Open Sans', serif;
    background-color: #15202b;
    color: white;
    padding: 30px;
}

a {
    text-decoration: none;
}

body a {
    color: #02A9EA;
}

img {
    border-radius: 15px;
    max-height: 600px;
    margin: 20px;
}

iframe {
    max-height: 600px;
    max-width: 100%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.body {
    padding-top: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Kalam', serif;
    color: #02A9EA;
}

h3 {
    text-align: center;
    font-size: 24px;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: 'Kalam', serif;
    color: #02A9EA;
}

h5 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.center-text {
    text-align: center;
}

.header h2 {
    margin: 0;
    padding: 0 16px;
}

.header-text {
    font-size: 22px;
}

.navBar {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-list {
    list-style-type: none;
    text-align: center;
}

.navBarHeading {
    display: inline;
}

.navBarHeading a {
    display: inline-block;
    color: white;
    margin: 0px 20px;
    text-decoration: none;
}

.selectedTab {
    font-size: 26px;
}

.navbar a:hover {
    color: #FF01FB;
}

.navBarHeading a:hover {
    color: #FF01FB;
}

.flex-col-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.flex-container-skinny {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
}

.flex-1 {
    flex: 1;
    align-self: flex-start;
    margin: 10px;
}

.dolores-pic {
    width: 400px;
}

.hobbies-text {
    margin: 0px 100px;
    font-size: 16px;
}

.embedded-map {
    margin: 10px;
}

footer {
    display: flex;
    font-size: 25px;
    margin: 20px 40px 0 0;
    /* top | horizontal | bottom */
    color: white;
}

.copyright {
    font-size: 16px;
}

.fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
    color: #FF01FB;
}

.fa-twitter {
    padding-left: 10px;
}

.left-aligned {
    text-align: left;
}

.flex-start {
    align-self: flex-start;
}

.profile-pic {
    height: 250px;
}

.about-img {
    max-height: 350px;
}

.travel-pic {
    height: 300px;
    margin: 0 60px;
    display: flex;
}

.popcorn-pic {
    height: 300px;
    display: flex;
}

.padded-section {
    padding: 0 20px;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    .text {
        margin: 0;
    }
    .flex-container {
        flex-direction: column;
    }
    .flex-container-skinny {
        flex-direction: column;
    }
    img {
        padding: 10px;
    }
    .travel-pic {
        margin: 0;
    }
    .padded-section {
        padding: 20px;
    }
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .navBar {
        flex-direction: column;
    }
    .hobbies-text {
        margin: 10px;
    }
    .sticky {
        position: relative;
    }
    .flex-start {
        align-self: center;
    }
}