/* Header */

.header {
    font-family: 'Open Sans', serif;
    text-align: center;
    background-color: #15202b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.sticky {
    position: sticky;
    top: 0;
}

.sun {
    height: 20px;
    margin: 0 8px;
}

.navBar {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.selectedTab {
    font-size: 24px;
}

.navBarHeading {
    margin: 0 8px;
}

.aboutHeader {
    font-size: 60px;
    margin-left: 8px;
}

.connectHeader {
    font-size: 24px;
    text-align: center;
    color: #15202b;
}

.bannerText {
    font-size: 48px;
    padding: 16px 32px;
    color: #15202b;
    font-style: italic;
}

h1 {
    text-align: center;
}

/* Social Icons */

.socialIcons {
    font-size: 20px;
}

.fa {
    width: 24px;
    text-decoration: none;
    color: white;
}

.fa:hover {
    color: #FF01FB;
}

/* Body */

body {
    font-family: 'Open Sans', serif;
    background-color: #15202b;
    color: white;
    margin: 0;
}

.headerText {
    font-size: 22px;
    color: #02A9EA;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
}

.paddedTextBlock {
    padding: 12px;
    margin: 0 8%;
}

.mediaHeadings {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.mediaHeading {
    color: #15202b;
    font-weight: bold;
    font-size: 24px;
}

.bold {
    font-weight: bolder;
}

.mediaBlock {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.mediaHeader {
    width: 20%;
    font-size: 32px;
    padding-left: 16px;
    padding-bottom: 16px;
}

.mediaContent {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.mediaContentRow {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

.writtenMediaContent {
    line-height: 32px;
    padding-left: 40px;
    width: 60%;
}

.eventName {
    color: #02A9EA;
}

.orgName {
    color: #02A9EA;
}

.mediaItem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    width: 45%;
    height: 150px;
    cursor: pointer;
    /* override button props */
    border: none;
}

.orgLogo {
    margin: 0 10px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    width: 200px;
}

.vep {
    border-radius: 30px;
}

.danceItem {
    width: 45%;
    height: 320px;
}

.speakingItem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    width: 320px;
    height: 80px;
    cursor: pointer;
    /* override button props */
    border: none;

}

.mediaDescription {
    width: 320px;
    text-align: center;
}

.date {
    font-style: italic;
}

.notClickable {
    cursor: default;
}

/* Media Items */

.allThingsCoop {
    background-image: url("../img/media/allthingscoop.png");
}

.coopNews {
    background-image: url("../img/media/coopnews.png");
}

.sgs {
    background-color: white;
    background-size: contain;
    background-image: url("../img/media/sgs2.png");
}

.bqueer {
    background-image: url("../img/media/bqueer.jpeg");
}

.ktla {
    background-image: url("../img/media/ktla5.png")
}

.gracehopper {
    background-image: url("../img/media/gracehopper.png")
}

.reboot {
    background-image: url("../img/media/reboot.png")
}

.justDataLab {
    height: 100%;
    cursor: pointer;
    width: 45%;
}

.defund {
    background-image: url("../img/orgLogos/defund.jpeg")
}

.flexColumn {
    text-align: center;
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.graceHopper {
    height: 360px;
    width: 100%;
    background-image: url("../img/media/gh.jpg")
}

.newAmerica {
    width: 100%;
    background-image: url("../img/media/newamerica.png")
}

.rg {
    background-image: url("../img/orgLogos/rg.jpeg")
}

.bass {
    background-position: top;
    background-image: url("../img/orgLogos/bass.png")
}

/* Footer */

footer {
    text-align: center;
    margin-bottom: 16px;
}

/* Images */

.headshot {
    width: 400px;
    border-radius: 50%;
}

.banner {
    background-image: url("../img/pri.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 16px;
}

.connectBanner {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutBanner {
    background-image: url("../img/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-bottom: 16px;
}

/* Links */

a {
    text-decoration: none;
}

a:hover {
    color: #FF01FB;
}

body a {
    color: #02A9EA;
}

/* For smaller screens */
@media screen and (max-width: 800px) {

    /* Header */

    .navBar {
        flex-direction: column;
        padding: 12px 0;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Social Icons */

    .fa-twitter {
        padding-left: 0;
    }

    /* Body */

    .aboutContainer {
        flex-direction: column;
        align-items: center;
    }

    .paddedTextBlock {
        padding: 20px 0;
    }

    .mediaBlock {
        flex-direction: column;
    }

    .mediaHeader {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .mediaContent {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .graceHopper {
        margin-top: 32px;
    }

    .mediaItem {
        margin-bottom: 32px;
        width: 100%;
    }

    .justDataLab {
        margin-bottom: 32px;
        width: 100%;
    }

    .mediaContentRow {
        width: 100%;
        flex-direction: column;
        margin-bottom: 0;
        align-items: center;
    }

    .flexColumn {
        width: 100%;
    }

    .orgLogo {
        margin: 10px;
    }

    .writtenMediaContent {
        padding: 0;
        text-align: center;
        width: 100%;
    }

    /* Footer */

    /* Images */

    .danceItem {
        width: 100%;
        margin-bottom: 32px;
    }

    .bannerText {
        font-size: 28px;
        text-align: center;
    }

    /* Links */
}