title {
  text-align: center;
  color: black;
  font-family: helvetica;
  font-size: 72px;
}

h1 {
  text-align: center;
  color: purple;
  font-family: helvetica;
  font-size: 58px;
}

h2 {
  text-align: center;
  color: purple;
  font-family: helvetica;
  font-size: 58px;
}
